.task-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 1px solid #555;
}

.task {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.task-form {
  padding-bottom: 1.5rem;
}

input,
.TextareaAutosize,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  /* Permite quebra de linha se necessário */
}

.FormControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}
.FormControl .Autocomplete{
  width: 100%;
}
.TextFields{
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.TextFields .title{
  width: 100%;
}

.TextFields .duration{
  width: 10rem;
}
.Checklists{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.Checklists .title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;

}
.Checklists .TextFields{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;
  padding: 0;
}
.textField{
  width: 100%;
}
.Checklists .checkboxes_TextFields{

  display: flex;
  flex-direction: column;
  gap: 1rem;
}