.task-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 1px solid #555;
}

.task {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.task-form {
  padding-bottom: 1.5rem;
}

input,
.TextareaAutosize,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  /* Permite quebra de linha se necessário */
}